.socialmedia-icon {
    display: block;
    background-image: url(//gvsu.edu/cms4/skeleton/0/files/img/socialmedia[0].png);
    height: 24px;
    width: 24px;
}
.hide-accessible { position: absolute !important; clip: rect(1px, 1px, 1px, 1px); }
#cms-copyright, #cms-footer { color: #d4d4d4; } /* Accessibility */
